html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }
img{border:none}
a{text-decoration:none;color:#8e8e8e;}a:active{color: #000}
a:hover{text-decoration:none;}a:visited{color:#8e8e8e;text-shadow:0 1px 0 #fff}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{zoom:1;display:inline-block;_height:1px}*html .clearfix{height:1%}*+html .clearfix{height:1%}.clearfix{display:block}.alignleft{float:left;}.alignright{float:right;}
#container{
	min-width: 850px;
	font-family: serif;
}
#masker{
	width:100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	display: none;
}
.pop-window{
	width:50%;
	height:200px;
	position: fixed;
	left:50%;
	margin-left: -25%;
	background: #fff;
}
.pop-window{
	width:50%;
	min-height: 250px;
	position: absolute;
	left:50%;
	top:25%;
	margin-left: -25%;
	background: #fff;
	z-index: 2;
	display: none;
}
.pop-window .pop-head{
	height:50px;
	line-height: 50px;
	padding: 0 0 0 20px;
	background: #0073bf;
	box-sizing:border-box;
	color: #fff;
}
.pop-window .pop-head i.icon{
	width: 60px;
	height: 50px;
	float: right;
	display: block;
	cursor: pointer;
}
.pop-window .pop-head i.favourite{
	background: url(../images/wjx1.jpg) no-repeat left center;
}
.pop-window .pop-head i.close{
	background: url(../images/submitv.jpg) no-repeat left center;
}
.pop-window .pop-body{
	min-height:200px;
}
.ask-tab{
	padding:20px 20px 0;
	overflow: hidden;
}
.ask-tab span{
	display: block;
	text-align: center;
	float: left;
	margin-right: 20px;
	color: #999
}
.ask-tab i.icon{
	width: 70px;
	height:70px;
	display: block;
	margin-bottom:10px;
	cursor: pointer;
}
.ask-tab i.rule-icon{
	background: url(../images/q1.png) no-repeat left top;
}
.ask-tab .current i.rule-icon{
	background: url(../images/q2.png) no-repeat left top;
}
.ask-tab i.caiwu-icon{
	background: url(../images/m1.png) no-repeat left top;
}
.ask-tab .current i.caiwu-icon{
	background: url(../images/m2.png) no-repeat left top;
}
.ask-frame{
	padding: 20px;
	display: block;
	list-style:none;
}
.ask-frame select,
.login-frame select{
	width: 100%;
	line-height:50px;
	height:50px;
	background:#fff url(../images/bu.jpg) no-repeat 100% 0%;
	outline:none;
	border-radius: 6px;
	font-size:16px;
	border:1px solid #cacaca;
	text-indent:20px;
	color:#555555;
	margin-top:15px;
	margin-bottom:0px;
	overflow:hidden;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none; 
	font-family: La;
	-webkit-appearance:none;
}
.ask-frame input[type="text"],
.ask-frame textarea{
	width: 100%;
	line-height: 50px;
	height: 50px;
	background: #fff;
	outline: none;
	border-radius: 6px;
	font-size: 16px;
	border: 1px solid #cacaca;
	text-indent: 1em;
	color: #c9c9c9;
	margin: 15px 0 5px;
}
.ask-frame textarea{height: 100px;}
.ask-frame input[type="submit"]{
	width: 100%;
	height: 60px;
	background: #00acef;
	border: 0px;
	outline: none;
	font-size: 16px;
	color: #fff;
	margin-bottom: 0px;
	font-size: 20px;
	margin-top: 10px;
	font-family: La;
	font-weight: bold;
}

#left-bar{
	width:230px;
	float: left;
	border-right:1px solid #ccc;
	overflow-y:scroll; 
}
#left-bar h3.menu-title{
	font-size: 22px;
	vertical-align: middle;
	padding-top: 20px;
}
#left-bar h3.menu-title .icon{
	height:30px;
	width: 30px;
	margin-right: 30px;
}
#left-bar h3.menu-title .icon img{
	vertical-align: middle;
}
#left-bar h3.menu-title a{
	color: #8e8e8e
}
#left-bar h3.menu-title a.current{
	color: #00acef;
}
#left-bar h4.menu-title{
	font-size: 20px;
	line-height: 30px;
	padding-top: 20px;
}
#left-bar h4.menu-title .icon{
	margin-right: 30px;
}
#left-bar h4.menu-title .icon img{
	vertical-align: middle;
}
#left-bar ul.menu-list{
	width: 75%;
	list-style:none;
	text-align: right;
}
#left-bar ul.second-menu{
	width: 90%;
	margin-right: 0;
}
#left-bar ul.second-menu li.second-level{
	line-height: 30px;
}
#left-bar ul.second-menu li.second-level a.current{
	color: #00acef;
}

#right-container{
	min-width: 600px;
	margin-left: 230px;
	overflow: hidden;
}
.header{
	height:80px;
	background: #0073bf;
	overflow: hidden;
}
.header .search-frame{
	height:34px;
	border-radius: 2px;
	padding:23px 30px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}
.header .search-frame input[type=text]{
	display: block;
	-webkit-box-flex : 1;
	-moz-box-flex : 1;
	box-flex : 1;
	float:left\0;
	width: 80%;
	background: #fff;
	border-radius: 4px;
	height:34px;
	border:0 none;
	padding-left: 40px;
	font-size: 16px;
	background: url(../images/seach.png) no-repeat 10px center #fff;
}
.header .search-frame input[type=button]{
	height:34px;
	width:100px;
	text-align: center;
	line-height: 34px;
	background: #fff;
	border:0 none;
	border-radius: 2px;
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
}
.header .metting-tab{
	width: 300px;
	height:38px;
	background: #fff;
	margin: 0 auto;
	margin-top:20px;
	border-radius: 4px;
	padding: 1px;
}
.header .metting-tab a{
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 38px;
	border-radius: 3px;
	color: #0073bf;
}
.header .metting-tab a.current{
	background: #0073bf;
	color: #fff;
}
.header .add-metting,
.header .back-metting,
.header .commit-metting{
	width: 40px;
	height:40px;
	display: block;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #fff;
	font-size: 30px;
	float: right;
	margin: 20px 30px 0 0;
	color: #fff;
}
.header .back-metting{
	float: left;
	margin: 20px 0 0 30px;
}
.header .add-metting:hover{
	color:#0073bf;
	background: #fff;
}
.tab-frame{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
	height:80px;
	border-bottom: 1px solid #ccc;
	padding: 0 30px;
}
.tab-frame .tab-list{
	list-style: none;
	padding:25px 0;
}
.tab-frame .tab-list li{
	line-height: 30px;
	margin-right: 20px;
	float: left;
}
.tab-frame .tab-list li a{
	color: #848484;
	font-size:18px;
}
.tab-frame .tab-list li a:hover{
	color: #00acef;
}
a.button-style{
	line-height: 1;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	float: right;
	border-radius: 2px;
	background: #00acef;
	color: #fff;
}
a.button-style:hover{
	color: #fff;
}

.content-list{
	overflow-y:scroll;
}
ul.data-list{
	min-width: 600px;
	list-style: none;
}
ul.qa-list li,
ul.test-list li{
	background: #fff;
	padding:15px 30px;
}
ul.data-list li h3.q-line{
	margin-bottom: 5px;
	color: gray;
}
ul.data-list li span.breadcrumb{
	color: #00acef;
	font-size: 14px;
}
ul.data-list li span.breadcrumb.outer{
	margin-bottom: 10px;
	display: block;
}
ul.data-list li h3.q-line span{
	float: right;
}
ul.data-list li p.a-line{
	color: #9f9f9f;
	font-size: 14px;
	line-height: 20px;
}
ul.data-list li p.a-line i.icon{
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-top:2px;
	color: #fff;
	text-align: center;
	font-style: normal;
	margin-right: 10px;
}
ul.data-list li p.a-line i.icon-answer{
	font-size: 12px;
	margin-top:2px;
	background: #00acef;
	color: #fff;
	border-radius: 50%;
	font-family: helvetica,sans-serif;
}
ul.data-list li p.a-line span{
	overflow: hidden;
	display: block;
}
ul.data-list li:nth-child(even){
	background: #f7f7f7;
}
ul.rules-list li{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	border-bottom: 1px solid #e9e9e9;
}
ul.rules-list li p{
	padding:15px 30px;
	border-right:1px solid #e9e9e9; 
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
}
ul.rules-list li p.title{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
}
ul.rules-list li p.title a{
	display: block;
}
ul.rules-list li p.icon{
	width: 50px;
	text-align: center;
}
ul.rules-list li p.icon img{
	vertical-align: middle;
}
ul.rules-list li p.time{
	width:100px;
	color: #8e8e8e;
}
ul.metting-list li{
	padding: 0 20px;
	border-bottom: 1px solid #e9e9e9;
}
ul.metting-list li p{
	height: 50px;
	line-height: 50px;
	padding-left:36px;
}
ul.metting-list li p a{
	color: #0073bf;
	float: right;
}
ul.metting-list .user-line{
	background: url(../images/icon_h3.png) no-repeat left center;
	border-bottom: 1px dotted #e9e9e9;
}
ul.metting-list .time-line{
	color: #999;
	background: url(../images/icon_h2.png) no-repeat left center;
}

.login-frame{
	width: 400px;
	margin: 0 auto;
	list-style: none;
	padding:20px;
}
.login-frame li{
	display: block;
	margin-bottom:10px;
	overflow: hidden;
	font-family: serif;
}
.login-frame li input[type="text"],
.login-frame li input[type="password"]{
	width: 99%;
	height: 65px;
	line-height: 65px;
	display: block;
	color: #555555;
	border-radius: 6px;
	border: 1px solid #dedfe0;
	text-indent: 4em;
	font-size: 20px;
	font-family: serif;
}
.login-frame li input.username{
	background: url(../images/icon_index1.jpg) no-repeat 20px center #fff;
}
.login-frame li input.password{
	background: url(../images/icon_index2.jpg) no-repeat 20px center #fff;
}
.login-frame li button,
.login-frame li input[type="button"],
.login-frame li input[type="submit"]{
	width: 200px;
	height: 65px;
	line-height: 65px;
	border:none;
	border-radius: 6px;
	background: #04a0dd;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	margin-top:20px;
}
.login-qa{
	background: url(../images/index_bg.jpg) no-repeat left bottom #dfeaef;
	background-size: 60%;
	position: relative;
}
.login-bb{
	background: url(../images/loginBG2.jpg) no-repeat left bottom #dfeaef;
	background-size: 100% 100%;
	position: relative;
}
.login-qa .login-frame,
.login-bb .login-frame{
	position: absolute;
	left: 50%;
}
.login-qa li button:last-child,
.login-bb li button:last-child{
	width: 190px;
	margin-left: 10px;
	background: #056caf;
}
.logo-qa,
.logo-bb{
	margin-bottom: 60px;
}

#page-menu{
	width: 50px;
	margin: 0 auto;
	list-style: none;
}
#page-menu li span{
	display: block;
	width: 50px;
	height:100px;
	cursor: pointer;
}
#page-menu li span.icon-metting {
	margin-top: 40px;
	background: url(../images/icon_1.jpg) no-repeat center top;
}
#page-menu li span.icon-metting:hover{
	background: url(../images/icon_2.jpg) no-repeat center top;
}
#page-menu li span.icon-account {
	background: url(../images/icon_4.jpg) no-repeat center top;
	margin-bottom: 100px;
}
#page-menu li span.icon-account:hover{
	background: url(../images/icon_3.jpg) no-repeat center top;
}
#page-menu li span.icon-logout{
	background: url(../images/icon_7.jpg) no-repeat center top;
}
#page-menu li span.icon-logout:hover{
	background: url(../images/icon_72.jpg) no-repeat center top;
}
.metting-form{
	width:100%;
}
.metting-form li.table-frame{
	margin-top: 30px;
}
.metting-form li span{
	display: block;
	width: 30%;
	float: left;
}
.metting-form li label{
	display: block;
	width: 120px;
	float: left;
	height:50px;
	line-height: 50px;
	margin-top: 15px;
	text-align: right;
}
.metting-form .textarea-frame{
	overflow: hidden;
	margin-top:15px;
}
.metting-form .textarea-frame textarea{
	border-radius: 6px;
	border:1px solid #cacaca;
	width: 80%;
	font-size: 16px;
	padding: 15px;
}
.metting-form li table{
	border:1px solid #e9e9e9;
	border-radius:4px;
	margin: 0;
}
.metting-form li table th{
	background: #04a0dd;
	color: #fff;
	padding:10px 0;
	line-height: 1.5;
	text-align: center;
	border: 1px solid #024c69;
}
.metting-form li table td{
	text-align: center;
	border:1px solid #e9e9e9;
	padding:10px 0;
	line-height: 1.5
}
.metting-form li table td input[type="button"]{
	height:40px;
	line-height: 40px;
	font-size: 16px;
	width: 100px;
	margin: 0;
}
.metting-form p{
	margin-top: 15px;
	line-height: 50px;
	color: #888;
}
.pop-create-metting{
	height:400px;
}






